In [1]:
import pandas as pd
import numpy as np

In [2]:
static_df = pd.read_csv("StaticSensorReadings.csv")
mobile_df = pd.read_csv('MobileSensorReadings.csv')

In [15]:
static_df['Timestamp'] = pd.to_datetime(static_df['Timestamp'])
mobile_df['Timestamp'] = pd.to_datetime(mobile_df['Timestamp'])
static_df['date'] = static_df['Timestamp'].dt.date
static_df['time'] = static_df['Timestamp'].dt.time
static_df['hour'] = static_df['Timestamp'].dt.hour
static_df['minute'] = static_df['Timestamp'].dt.minute
static_df['second'] = static_df['Timestamp'].dt.second
mobile_df['date'] = mobile_df['Timestamp'].dt.date
mobile_df['time'] = mobile_df['Timestamp'].dt.time
mobile_df['hour'] = mobile_df['Timestamp'].dt.hour
mobile_df['minute'] = mobile_df['Timestamp'].dt.minute
mobile_df['second'] = mobile_df['Timestamp'].dt.second

In [16]:
static_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744000 entries, 0 to 743999
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  744000 non-null  datetime64[ns]
 1   Sensor-id  744000 non-null  int64
 2   Value      744000 non-null  float64
 3   Units      744000 non-null  object
 4   date       744000 non-null  object
 5   time       744000 non-null  object
 6   hour       744000 non-null  int32
 7   minute     744000 non-null  int32
 8   second     744000 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), int64(1), object(3)
memory usage: 42.6+ MB

In [17]:
mobile_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3315711 entries, 0 to 3315710
Data columns (total 12 columns):
 #   Column     Dtype
---  ------     -----
 0   Timestamp  datetime64[ns]
 1   Sensor-id  int64
 2   Long       float64
 3   Lat        float64
 4   Value      float64
 5   Units      object
 6    User-id   object
 7   date       object
 8   time       object
 9   hour       int32
 10  minute     int32
 11  second     int32
dtypes: datetime64[ns](1), float64(3), int32(3), int64(1), object(4)
memory usage: 265.6+ MB

In [18]:
static_df.describe()

,Timestamp,Sensor-id,Value,hour,minute,second
count,744000,744000.000000,744000.000000,744000.000000,744000.000000,744000.000000
mean,2020-04-08 10:29:18.896293120,9.193683,15.785849,11.512089,29.501613,27.499516
min,2020-04-06 00:00:00,1.000000,-20.238000,0.000000,0.000000,0.000000
25%,2020-04-07 04:42:10,6.000000,13.284000,6.000000,14.000000,10.000000
50%,2020-04-08 09:24:25,11.000000,14.959000,12.000000,30.000000,25.000000
75%,2020-04-09 16:06:35,13.000000,17.029000,18.000000,45.000000,40.000000
max,2020-04-10 23:59:45,15.000000,1165.900000,23.000000,59.000000,55.000000
std,NaN,4.491028,11.876524,6.925911,17.320625,17.260041

In [23]:
mobile_df.describe()

,Timestamp,Sensor-id,Long,Lat,Value,hour,minute,second
count,3315711,3.315711e+06,3.315711e+06,3.315711e+06,3.315711e+06,3.315711e+06,3.315711e+06,3.315711e+06
mean,2020-04-08 04:46:19.202041088,2.602183e+01,-1.198533e+02,1.270600e-01,4.597663e+01,1.114313e+01,2.948659e+01,2.749666e+01
min,2020-04-06 00:00:00,1.000000e+00,-1.199999e+02,1.705700e-02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2020-04-07 00:30:40,1.400000e+01,-1.198906e+02,9.727200e-02,1.600000e+01,5.000000e+00,1.400000e+01,1.000000e+01
50%,2020-04-08 01:08:40,2.700000e+01,-1.198615e+02,1.256480e-01,2.900820e+01,1.100000e+01,2.900000e+01,2.500000e+01
75%,2020-04-09 06:26:55,3.900000e+01,-1.198185e+02,1.612860e-01,3.719300e+01,1.700000e+01,4.400000e+01,4.000000e+01
max,2020-04-10 23:59:45,5.000000e+01,-1.197118e+02,2.383720e-01,5.734520e+04,2.300000e+01,5.900000e+01,5.500000e+01
std,NaN,1.432938e+01,5.816137e-02,4.825588e-02,1.610326e+02,7.073587e+00,1.731794e+01,1.725860e+01

In [19]:
static_df.head()

,Timestamp,Sensor-id,Value,Units,date,time,hour,minute,second
0,2020-04-06,15,11.926,cpm,2020-04-06,00:00:00,0,0,0
1,2020-04-06,6,14.816,cpm,2020-04-06,00:00:00,0,0,0
2,2020-04-06,1,17.055,cpm,2020-04-06,00:00:00,0,0,0
3,2020-04-06,12,16.787,cpm,2020-04-06,00:00:00,0,0,0
4,2020-04-06,13,15.009,cpm,2020-04-06,00:00:00,0,0,0

In [25]:
mobile_df.head()

,Timestamp,Sensor-id,Long,Lat,Value,Units,User-id,date,time,hour,minute,second
0,2020-04-06,15,-119.83035,0.14007,0.0,cpm,CitizenScientist,2020-04-06,00:00:00,0,0,0
1,2020-04-06,22,-119.76075,0.04205,0.0,cpm,HSS,2020-04-06,00:00:00,0,0,0
2,2020-04-06,40,-119.89067,0.11658,0.0,cpm,MutantX,2020-04-06,00:00:00,0,0,0
3,2020-04-06,1,-119.96665,0.18792,0.0,cpm,MySensor,2020-04-06,00:00:00,0,0,0
4,2020-04-06,27,-119.80570,0.01711,0.0,cpm,CitizenScientist,2020-04-06,00:00:00,0,0,0

In [27]:
unique_static_dates = static_df.date.nunique()
unique_mobile_dates = mobile_df.date.nunique()

In [30]:
print(f"There are total: {unique_mobile_dates} mobile dates and {unique_static_dates} static sensor dates")

There are total: 5 mobile dates and 5 static sensor dates