In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("StaticSensorReadings.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744000 entries, 0 to 743999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Timestamp  744000 non-null  object
 1   Sensor-id  744000 non-null  int64
 2   Value      744000 non-null  float64
 3   Units      744000 non-null  object
dtypes: float64(1), int64(1), object(2)
memory usage: 22.7+ MB

In [7]:
df.describe()

           Sensor-id          Value
count  744000.000000  744000.000000
mean        9.193683      15.785849
std         4.491028      11.876524
min         1.000000     -20.238000
25%         6.000000      13.284000
50%        11.000000      14.959000
75%        13.000000      17.029000
max        15.000000    1165.900000

In [8]:
static_id_df = df[df["Sensor-id"] == 1]

In [10]:
static_id_df.describe()

       Sensor-id         Value
count    86398.0  86398.000000
mean         1.0     15.125550
std          0.0      9.086119
min          1.0      0.956000
25%          1.0     13.121000
50%          1.0     14.775000
75%          1.0     16.640000
max          1.0    982.982000